body {
  background-color: transparent;
  /* background-color: rgb(218, 224, 230); */
  font-family: Verdana;
  margin: 0;
}

h1,
h3 {
  font-family: "Trebuchet MS";
  text-align: center;
  display: inline-block;
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* NavBar */

#navbar {
  background-color: rgb(58, 58, 58);
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
  border-top: 3px solid rgb(127, 135, 255);
  position: fixed;
  top: 0;
}

.nav-item {
  width: 150px;
  border-left: 3px solid rgb(143, 143, 143);
  font-family: Helvetica;
}

.nav-items {
  display: flex;
  width: 80%;
  height: 100%;
}

#navbar ul {
  list-style: none;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

#navbar li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
}

a.nav-item-link {
  font-size: 12px;
  text-transform: uppercase;
  width: 100%;
  border-left: 2px solid white;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.nav-item-link:hover {
  text-decoration: none;
  background: rgb(80, 80, 80);
  border-color: rgb(127, 135, 255);
}

a.nav-item-link,
a.nav-item-link:visited,
a.nav-item-link:link,
a.nav-item-link:active {
  text-decoration: none;
  color: rgb(219, 219, 219);
}

.site-name {
  color: rgb(233, 233, 233);
  font-family: "Trebuchet MS";
  align-self: center;
}

.site-name:hover {
  color: rgb(127, 135, 255);
}

/* End NavBar */

.not-found {
  margin: auto;
  display: flex;
  color: green;
  justify-content: center;
}

.main-content {
  height: 100%;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  padding: 5px;
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-top: 3px solid rgb(127, 135, 255);
  padding: 10px;
  position: fixed;
  right: 50px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  padding: 5px;
  color: rgb(79, 79, 79);
  /* border-left: 3px solid rgb(143, 143, 143); */
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
}

.sidebar li:hover {
  text-decoration: none;
  background: rgb(247, 247, 247);
  border-color: rgb(127, 135, 255);
  color: rgb(127, 135, 255);
}

.sidebar h4 {
  color: rgb(0, 0, 0);
  margin: 10px;
}

/* End sidebar */

.footer {
  width: 100%;
  height: 1000px;
  bottom: 0;
}

.content-block {
  height: 50%;
  width: 60%;
  /* background: rgb(247, 247, 247);
  padding: 10px;
  border-radius: 10px; */
}

.content-block-line {
  width: 50%;
  display: inline-block;
  border-top: 3px solid rgb(127, 135, 255);
  padding: 0px;
}
